.contact{
  margin-bottom: 24vh;

  &__content{

    &__form{
      
      h3{
        margin-bottom: 5.3vh;
        letter-spacing: 0.16vw;
      }

      .form-label, .outline-button{
        p{font-weight: 300;}
      }

      .form-control::placeholder{
        font-weight: 200;

      }

      .outline-button{
        border-color: var(--text-black);
        background-color: var(--bg-white);
      }
    }
  }
}