@use '../util';

h1,
h2,
h3,
h4,
p{
  line-height: 1.5;
  margin: 0;  
}

h1,
h4,
p{
  font-family: util.$lexend-deca;
}

h2,
h3{
  font-family: util.$poppins;
}

h1{
  /* Clamp CSS function restricts min and max value the font-size can get (supports calc) */
  font-size: clamp(util.rem(18), util.rem(14) + 1.08vw, util.rem(42));
  font-weight: 300;
}

h2{
  font-size: clamp(util.rem(17), 2.02vw, util.rem(40));
  font-weight: 300;
}

h3{
  font-size: clamp(util.rem(22), util.rem(12) + 0.88vw, util.rem(32));
  font-weight: 400;
}

h4{
  font-size: clamp(util.rem(21), util.rem(11) + 0.8vw, util.rem(30));
  font-weight: 400;
}

p{
  font-size: clamp(util.rem(8), util.rem(6) + 0.8vw, util.rem(24));
  font-weight: 200;
}

a, a:visited, a:active {
  text-decoration: none;
}