{% extends "layout.html" %}

{% block title %} Administrator log in {% endblock %}

{% block main %}
<form action="/admin" method="post" class="w-75 mx-auto" id="admin_form" onsubmit="return checkInput(this)">
  <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input autocomplete="off" autofocus class="form-control" id="username" name="Username" placeholder="Admin's username" type="text">
  </div>
  <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input autocomplete="off" autofocus class="form-control" id="password" name="Password" placeholder="Admin's password" type="password">
  </div>
  <div class="text-start">
    <button class="btn btn-primary" type="submit">Log in</button>
  </div>
</form>
{% endblock %}
