{% extends "layout.html" %}

{% block title %} Exhibitions {% endblock %}

{% block main %}

  {% for exhibition in archive %}
    <div class="card mb-3 w-50 mx-auto">
      <img class="card-img-top" src="{{ url_for('static', filename='images/exhibition_images/') }}{{ exhibition.featured_image }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ exhibition.title }}</h5>
        <p class="card-text">{{ exhibition.description }}</p>
        <p class="card-text"><small class="text-muted">{{ exhibition.exhibition_date }}</small></p>
        <a href="{{ url_for('single', id=exhibition.id) }}">View exhibition</a><br \>
        <a href="{{ url_for('edit', id=exhibition.id) }}">Edit exhibition</a><br \>
        <a href="{{ url_for('delete', id=exhibition.id) }}">Delete exhibition</a>
      </div>
    </div>
    <hr><br \>

  {% endfor %}

{% endblock %}